@use "global" as *;

.gallery-post__grid-items{

    @include mq("md") {
        grid-gap: 0.5rem;
        display: grid;
        gap: 0.5rem;
        grid-auto-flow: dense;
        grid-template-columns: repeat(11, 1fr);
    }

    & > *+*{
        margin-top: rem(8);

        @include mq("md") {
            margin-top: 0;
        }
    }
}

.gallery-post__grid-item{
    transition: 0.3s;

    &:focus-visible{
        opacity: 0.7;
        transition: 0.3s;
    }
}

.gallery-post__grid-item:nth-child(6n+1) {
    @include mq("md") {
        grid-column: span 5;
        grid-row: span 2;
    }
}

.gallery-post__grid-item:nth-child(6n+2) {
    @include mq("md") {
        grid-column: span 6;
    }
}

.gallery-post__grid-item:nth-child(6n+3) {
    @include mq("md") {
        grid-column: span 6;
    }
}

.gallery-post__grid-item:nth-child(6n+4) {
    @include mq("md") {
        grid-column: span 6;
    }
}

.gallery-post__grid-item:nth-child(6n+5) {
    @include mq("md") {
        grid-column: span 6;
    }
}

.gallery-post__grid-item:nth-child(6n+6) {
    @include mq("md") {
        grid-column: span 5;
        grid-row: span 2;
    }
}