@use "global" as *;

.price-list__item{
    display: flex;
    min-height: rem(60);

    &:not(:first-of-type){
        border-top: rem(1) solid $green;
    }
}

.price-list__item-term{
    flex-basis: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: rem(8);

    @include mq("md") {
        flex-direction: row;
    }
}

.price-list__item-desc{
    flex-basis: 30%;
    border-left: rem(1) solid $green;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: rem(16);
}