@use "global" as *;

.aside-archive{
    margin-left: rem(25);
    margin-right: rem(25);

    @include mq("md") {
        margin-left: 0;
        margin-right: 0;
    }
}

.aside-archive__items{
    margin-top: rem(17);

    & *+*{
        margin-top: rem(6);
    }
}

.aside-archive__item{
    color: $green;
    font-size: rem(24);

    summary{
        cursor: pointer;
        position: relative;

        &::before{
            display: block;
            content: "";
            background-image: url(../images/blog/icon-blog-arrow.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: rem(22);
            height: rem(22);
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.3s;
        }

        &::marker{
            color: transparent;
        }

        &::-webkit-details-marker {
            display: none;
        }
    }

    &:not(.is-opened) > .aside-archive__item-lists{
        height: 0;
        opacity: 0;
        overflow: hidden;
    }

    &.is-opened > summary::before {
        top: 60%;
        transform:translateY(-50%) rotate(90deg);
        transition: 0.3s;
    }

}

.aside-archive__item-lists{
    padding-left: rem(30);
    // list-style: inside disclosure-closed;
    transition: padding .25s, height .25s, opacity .25s;
    padding-top: rem(2);

    height: auto;
    opacity: 1;

    & > *+*{
        margin-top: rem(9);
    }
}

.aside-archive__item-list{
    display: block;
    line-height: 1.3;
    padding-left: rem(26);
    position: relative;

    &::before{
        display: block;
        content: "";
        background-image: url(../images/blog/icon-blog-arrow.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: rem(22);
        height: rem(22);
        position: absolute;
        left: 0;
        top: rem(5);
    }

}
