@use "global" as *;

.aside-campaign{
    margin-left: rem(25);
    margin-right: rem(25);

    @include mq("md") {
        margin-left: 0;
        margin-right: 0;
    }
}

.aside-campaign__items{
    margin-top: rem(24);

    & > *+*{
        margin-top: rem(40);
    }
}