@use "global" as *;

.aside-archive{
    margin-left: rem(25);
    margin-right: rem(25);

    @include mq("md") {
        margin-left: 0;
        margin-right: 0;
    }
}

.aside-archive__items{
    margin-top: rem(17);
}

.aside-archive__item{
    color: $green;
    font-size: rem(24);

    summary{
        margin-left: rem(2);
        cursor: pointer;
    }

    summary::marker{
        font-size: rem(30);
    }

    &:not(.is-opened) > .aside-archive__item-lists{
        height: 0;
        opacity: 0;
        overflow: hidden;
    }

}

.aside-archive__item-lists{
    padding-left: rem(30);
    list-style: inside disclosure-closed;
    transition: padding .25s, height .25s, opacity .25s;

    height: auto;
    opacity: 1;

    & > *+*{
        margin-top: rem(9);
    }
}

.aside-archive__item-list{
    line-height: 1;

    &::marker{
        font-size: rem(30);
    }
}
