@use "global" as *;

.blog-content__body{

    @include mq("md") {
        display: flex;
        flex-wrap: nowrap;
        gap: rem(80);
        justify-content: space-between;
    }
}

.blog-content__main{
    flex-basis: rem(706);
}

.blog-content__main--post{
    flex-basis: rem(700);
}

.blog-content__main-items{

    & > *+*{
        margin-top: rem(40);

        @include mq("md") {
            margin-top: 0;
        }
    }
}

.blog-content__side{
    margin-top: rem(81);

    @include mq("md") {
        flex-basis: rem(294);
        width: rem(294);
        margin-top: rem(2);
    }
}

.blog-content__page-nav{
    margin-top: rem(80);
}

.blog-content__page-nav--post{
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(80);
    }
}