@use "global" as *;

.top-campaign{
    padding-top: rem(40);
    overflow: hidden;

    @include mq("md") {
        padding-top: rem(120);
    }
}

.top-campaign__contents{
    margin-top: rem(24);
    position: relative;

    @include mq("md") {
        margin-top: rem(40);
    }
}

.top-campaign__slider{
    overflow-x: hidden;
    margin-right: calc(50% - 50vw);
    padding-left: rem(5);
    margin-left: rem(-5);
}

.top-campaign__item{
    margin-right: rem(24);
    padding-bottom: rem(40);
    max-width: rem(280);

    @include mq("md") {
        margin-right: rem(40);
        padding-bottom: rem(80);
        max-width: rem(333);
    }
}

.top-campaign__button-prev,
.top-campaign__button-next {
    height: rem(80);
    width: rem(80);
    top: rem(-83);

}

.top-campaign__button-prev{
    left: auto;
    right: rem(160);
}

.top-campaign__button-next{
    right: 0;
}

.top-campaign__button-prev::after,
.top-campaign__button-next::after{
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: rem(80);
    margin: auto;
    width: rem(80);
}

.top-campaign__button-prev:after {
    background-image: url(../images/index/arrow-left.svg);
}

.top-campaign__button-next:after {
    background-image: url(../images/index/arrow-right.svg);
}

.top-campaign__link{
    text-align: center;
}
