@use "global" as *;

.top-price-list__title{
    border-bottom: rem(1) solid $green;
    font-size: rem(16);
    font-weight: $bold ;
    padding-bottom: rem(4);
}

.top-price-list__items{
    margin-top: rem(8);
}

.top-price-list__item{
    display: flex;
    justify-content: space-between;
    font-size: rem(14);
    line-height: 1.714;
    margin-top: rem(8);

    @include mq("md") {
        font-size: rem(16);
        line-height: 1.5;
    }
}