@use "global" as *;

.top-voice{
    margin-top: rem(80);
    position: relative;

    @include mq("md") {
        margin-top: rem(140);
    }
}

.top-voice__illust01{
    width: rem(301);
    height: rem(138);
    position: absolute;
    top: rem(-120);
    left: calc(50% - min(48.5vw, 38.8rem));
}

.top-voice__illust02{
    width: rem(71);
    height: rem(162);
    position: absolute;
    top: rem(-37);
    right: 0;
}

.top-voice__items{
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(30);
    }

    & > *+* {
        margin-top: rem(40);

        @include mq("md") {
            margin-top: 0;
        }
    }
}

.top-voice__link{
    text-align: center;
    margin-top: rem(40);
    position: relative;

    @include mq("md") {
        margin-top: rem(80);
    }
}