@use "global" as *;

.top-blog{
    // padding-top: rem(80);
    position: relative;
    padding-top: rem(79);

    @include mq("md") {
        padding-top: rem(100);
    }
}

.top-blog__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(500);
    z-index: -1;

    img{
        object-fit: cover;
        height: 100%;
    }
}

.top-blog__illust{
    width: rem(437);
    height: rem(201);
    position: absolute;
    top: rem(24);
    left: calc(50% - min(48.5vw, 38.8rem));
}

.top-blog__title{

    @include mq("md") {
        color: $white;

        span{
            color: $white;

            &::first-letter{
                color: $light-green;
            }
        }
    }
}

.top-blog__items{
    margin-top: rem(24);
    margin-left: rem(6);
    margin-right: rem(6);

    @include mq("md") {
        display: flex;
        justify-content: space-between;
        margin-top: rem(80);
        margin-left: 0;
        margin-right: 0;
    }

    & > *+* {
        margin-top: rem(40);

        @include mq("md") {
            margin-top: 0;
        }
    }
}

.top-blog__item{

    @include mq("md") {
        flex-basis: calc((100% - rem(80)) / 3);
        width: calc((100% - 5rem) / 3);
    }
}

.top-blog__link{
    text-align: center;
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(80);
    }
}

