@use "global" as *;

.top-aboutAs{
    margin-top: rem(80);

    @include mq("md") {
        margin-top: rem(140);
    }
}

.top-aboutAs__content{
    margin-top: rem(24);

    @include mq("md") {
        margin-top: rem(40);
    }
}

.top-aboutAs__content-illust{
    width: rem(194);
    height: rem(181);
    position: absolute;
    right: calc(50% - min(48.5vw, 39.8rem));
    bottom: rem(-90);
}