@use "global" as *;

.top-section{
    margin-top: rem(80);

    @include mq("md") {
        margin-top: rem(140);
    }
}

.top-section--campaign{
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(120);
    }
}