@use "global" as *;

.policy-terms__inner{

    @include mq("md") {
        max-width: rem(800);
        margin-left: auto;
        margin-right: auto;
    }
}

.policy-terms__title{
    font-size: rem(24);
    font-weight: $bold;

    @include mq("md") {
        font-size: rem(32);
    }
}

.policy-terms__body{
    line-height: 2;
    margin-top: rem(40);
}

.policy-terms__body-text{

    &:not(:first-of-type){
        margin-top: rem(32);
    }
}

.policy-terms__body-numlist{
    padding-left: 1.3em;
    list-style: auto;

    li{
        text-indent: 0.2em;
    }

    .policy-terms__body-dotlist{
        margin-left: -1.3em;
        margin-top: 0;
    }

    & + .policy-terms__body-numlist{
        margin-top: rem(32);
    }
}

.policy-terms__body-dotlist{
    padding-left: 1.5em;
    margin-top: rem(32);

    li{
        text-indent: -1.2em;
    }

    li::before{
        content: "・";
    }
}

.policy-terms__body-text--first{

    & + ol{
        margin-top: rem(32);
    }
}

