@use "global" as *;

.aboutAs-intro{
    padding-top: rem(26);
    position: relative;

    @include mq("md") {
        padding-top: rem(80);
    }
}

.aboutAs-intro--page{
    padding-top: 0;
    position: relative;

    &::before {
        display: none;

        @include mq("md") {
            background-image: url(../images/common/icon-fish--left.svg);
            background-repeat: no-repeat;
            background-size: contain;
            content: "";
            display: block;
            height: 3.125rem;
            position: absolute;
            // right: 0.9375rem;
            // top: -1.6875rem;
            // width: 6.8125rem;
            width: rem(301);
            height: rem(138);
            top: calc(100% + rem(40));
            right: calc(50% - min(48.5vw, 40rem));
        }
    }
}


.aboutAs-intro__img-main{
    width: 81.16%;
    margin-left: auto;

    img{
        aspect-ratio: 88/58;
        object-fit: cover;
    }

    @include mq("md") {
        width: 81.5%;
    }
}

.aboutAs-intro__img-main--page{
    width: 100%;
}

.aboutAs-intro__img-sub{
    width: 37.1%;
    position: absolute;
    top: 0;
    left: 0;

    img{
        aspect-ratio: 128/194;
        object-fit: cover;

        @include mq("md") {
            aspect-ratio: 400/606;
        }
    }
}

.aboutAs-intro__text{

    @include mq("md") {
        display: flex;
        width: rem(840);
        position: absolute;
        top: rem(200);
        right: rem(40);
    }
}

.aboutAs-intro__text--page{

    @include mq("md") {
        align-items: center;
    }
}

.aboutAs-intro__text-title{
    color: $green;
    font-family: $second-font-family;
    font-weight: $regular;
    font-size: rem(40);
    line-height: 1;
    margin-top: rem(40);

    @include mq("md") {
        flex-basis: rem(400);
        color: $white;
        font-size: rem(80);
        line-height: 1.25;
        margin-top: 0;
    }
}

.aboutAs-intro__text-title--page{
    color: $white;
    position: absolute;
    top: rem(24);
    left: rem(24);
    margin-top: 0;

    @include mq("md") {
        position: static;
    }
}

.aboutAs-intro__text-wrap{

    @include mq("md") {
        flex-basis: rem(400);
        margin-left: rem(40);
    }
}

.aboutAs-intro__text-desc{
    margin-top: rem(16);

    @include mq("md") {
        color: $white;
        margin-top: 0;
    }
}

.aboutAs-intro__text-desc--page{
    margin-top: rem(40);
}

.aboutAs-intro__text-link{
    text-align: center;
    margin-top: rem(50);

    @include mq("md") {
        margin-top: rem(40);
    }
}