@use "global" as *;

.footer{
    background-color: $green;
    padding-top: rem(48);
    padding-bottom: rem(56);

    @include mq("md") {
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}

.footer__upper{

    @include mq("md") {
        display: flex;
        align-items: flex-end;
    }
}

.footer__upper-logo{
    width: rem(120);
    height: rem(45);

    @include mq("md") {
        width: rem(200);
        height: rem(75);
    }
}

.footer__upper-sns{
    display: flex;
    margin-left: rem(-8);
    margin-top: rem(8);

    @include mq("md") {
        margin-left: rem(32);
        margin-bottom: rem(-3);
    }

    a{
        padding: rem(8);
        transition: 0.3s;

        &:hover{
            opacity: 0.8;
            transition: 0.3s;
        }

        img{
            width: rem(24);

            @include mq("md") {
                width: rem(32);
            }
        }
    }
}

.footer__lower{
    margin-top: rem(20);

    @include mq("md") {
        margin-top: rem(12);
    }
}

.footer__copy{
    color: $white;
    font-family: $second-font-family;
    font-size: rem(12);
    text-align: center;
    margin-top: rem(28);
    margin-left: rem(-1);
    margin-right: rem(-1);

    @include mq("md") {
        font-size: rem(14);
        margin-top: rem(68);
    }
}