@use "global" as *;

.link-button{
    display: inline-block;
    background-color: $green;
    border: rem(1) solid $green;
    color: $white;
    font-family: $second-font-family;
    font-size: rem(14);
    height: rem(54);
    line-height: rem(54);
    width: rem(202);
    margin-bottom: rem(4);
    margin-right: rem(4);
    position: relative;
    transition: 0.3s;
    z-index: 1;

    &::before{
        content: "";
        display: inline-block;
        border: rem(1) solid $green;
        height: rem(54);
        width: rem(202);
        position: absolute;
        top: rem(3);
        right: rem(-5);
        z-index: -1;
    }

    &::after{
        content: "";
        background-color: $white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
        z-index: -1;
    }

    &:hover::after,&:focus::after{
        transform: scale(1, 1);
    }

    &:hover,&:focus{
        color: $green;
        transition: 0.3s;
    }
}

.link-button__arrow{
    display: inline-block;
    margin-left: rem(6);
    position: relative;
    height: rem(8);
    width: rem(42);

    &::before{
        content: "";
        display: inline-block;
        background-color: $white;
        mask-image: url(../images/common/button-arrow.svg);
        mask-size: contain;
        mask-repeat: no-repeat;
        height: 100%;
        width: 100%;
        position: absolute;
        top: rem(-2);
        left: 0;
    }
}

.link-button:hover .link-button__arrow::before{
    background-color: $green;
}