@use "global" as *;

.nav-menu{
    display: flex;
}

.nav-menu__half{
    flex-basis: 50%;

    &:last-of-type{
        padding-left: rem(11);

        @include mq("md") {
            padding-left: 0;
        }
    }

    @include mq("md") {
        display: flex;
    }
}

.nav-menu__quarter{

    &:last-of-type{
        margin-top: rem(16);

        @include mq("md") {
            margin-top: 0;
        }
    }

    @include mq("md") {
        flex-basis: 50%;

        &:not(.nav-menu__half:first-of-type .nav-menu__quarter:first-of-type){
            padding-left: rem(16);
        }
    }
}

.nav-menu__item{
    line-height: 1.125;

    &:not(.sub-menu):not(:first-of-type) {
        margin-top: rem(16);
    }

    &:first-child{
        @include mq("md") {
            margin-top: 0;
        }
    }


    a{
        display: block;
        color: $white;
        font-weight: $bold;
        padding: rem(12) 0 rem(12) rem(22);
        position: relative;
    }
}



.nav-menu__item > a::before {
    content: "";
    display: inline-block;
    background-image: url(../images/common/icon-starfish--white.svg);
    width: rem(18);
    height: rem(18);
    position: absolute;
    left: 0;
    top: rem(12);
}