@use "global" as *;

.page-content{
    margin-top: rem(50);

    @include mq("md") {
        // margin-top: rem(150);
        margin-top: rem(148);
    }
}

.page-content--404{
    margin-top: 0;
    // padding-bottom: rem(40);
    // padding-top: rem(52);

    @include mq("md") {
        // padding-bottom: rem(150);
        // padding-top: rem(150);
        margin-top: 0;
    }
}

.page-content--sitemap{
    margin-top: rem(38);

    @include mq("md") {
        margin-top: rem(137);
    }
}

.page-content--blog-post{
    margin-top: rem(45);
}

.page-content__section{
    margin-top: rem(37);

    @include mq("md") {
        margin-top: rem(120);
    }
}