@use "global" as *;

.page-numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    border: rem(1) solid $green;
    color: $green;
    font-family: $num-font-family;
    font-size: rem(16);
    font-weight: $bold;
    width: rem(38);
    height: rem(38);
    line-height: 0;
    transition: 0.3s;

    &.prev{
        margin-right: rem(28);
        position: relative;

        &::before{
            content: "";
            background-image: url(../images/common/pagenation-arrow--left.svg);
            background-size: contain;
            background-repeat: no-repeat;
            height: rem(17);
            width: rem(9);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover::before{
            background-image: url(../images/common/pagenation-arrow--left-hover.svg);
            transition: 0.3s;
        }
    }

    &.next{
        margin-left: rem(28);
        position: relative;

        &::before{
            content: "";
            background-image: url(../images/common/pagenation-arrow--right.svg);
            background-size: contain;
            background-repeat: no-repeat;
            height: rem(17);
            width: rem(9);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover::before{
            background-image: url(../images/common/pagenation-arrow--right-hover.svg);
            transition: 0.3s;
        }
    }

    &.current{
        background-color: $green;
        color: $white;
    }

    &:hover{
        background-color: $green;
        color: $white;
        transition: 0.3s;
    }
}

.page-numbers--pc-only{
    display: none;

    @include mq("md") {
        display: flex;
    }
}

.page-numbers--blog-post.prev{
    margin-right: 0;
}

.page-numbers--blog-post.next{
    margin-left: rem(70);
}