@use "global" as *;

.section-contact{
    position: relative;

    &::before{
        content: "";
        display: block;
        background-image: url(../images/common/icon-fish--left.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: rem(109);
        height: rem(50);
        position: absolute;
        top: rem(-27);
        right: rem(15);

        @include mq("md") {
            width: rem(301);
            height: rem(138);
            top: rem(-40);
            right: calc(50% - min(48.5vw, 41.8rem));
        }
    }
}

.section-contact__content{

    @include mq("md") {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: rem(2) rem(2) rem(10) 0px rgba(0, 0, 0, 0.25);
        padding: rem(80) rem(112) rem(80) rem(50);
    }
}

.section-contact__content-info{

    @include mq("md") {
        flex-basis: rem(440);
    }
}

.section-contact__content-link{
    position: relative;

    &::before{
        @include mq("md") {
            content: "";
            display: block;
            background-color: $green;
            height: rem(255);
            width: rem(1);
            position: absolute;
            top: 50%;
            left: rem(-81);
            transform: translateY(-50%);
        }
    }

    @include mq("md") {
        flex-basis: rem(315);
    }
}