@use "global" as *;

.section-title{
    color: $green;
    font-size: rem(12);
    font-weight: $regular;
    padding-bottom: rem(4);
    line-height: 1.5;
    text-align: center;
    position: relative;

    @include mq("md") {
        padding-bottom: 0;
    }
}

.section-title--white{

    @include mq("md") {
        color: $white;

        span{
            color: $white;

            &::first-letter{
                color: $light-green;
            }
        }
    }
}

.section-title--contact{
    padding-bottom: 0;

    span{
        font-size: rem(80);
        line-height: 1;
        margin-bottom: rem(-5);
    }
}



.section-title__sub{
    display: block;
    color: $font-color;
    font-family: $second-font-family;
    font-size: rem(32);
    line-height: 1.25;

    @include mq("md") {
        font-size: rem(40);
        line-height: 1;
    }

    &::first-letter{
        color: $green;
    }
}

.section-title__main{
    font-size: rem(12);
    font-weight: $regular;
    margin-top: rem(4);

    @include mq("md") {
        margin-top: rem(8);
    }
}