@use "global" as *;

.voice-card{
    box-shadow: rem(2) rem(2) rem(10) 0px rgba(0, 0, 0, 0.25);
    padding: rem(15) rem(16) rem(24);

    @include mq("md") {
        padding: rem(24);
    }
}

.voice-card__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.voice-card__header-text{
    flex-basis: 47.6%;
    flex-grow: 1;
}

.voice-card__header-title{
    border-bottom: rem(1) solid $green;
    font-size: rem(16);
    font-weight: $medium;
    line-height: 1.4;
    margin-top: rem(4);
    padding-bottom: rem(4);

    @include mq("md") {
        font-size: rem(24);
        margin-top: rem(10);
    }
}

.voice-card__header-img{
    flex-basis: rem(151);
    margin-left: rem(13);

    @include mq("md") {
        flex-basis: rem(180);
        margin-left: rem(16);
    }

    img{
        aspect-ratio: 151/117;
        object-fit: cover;
    }
}

.voice-card__text{
    margin-top: rem(17);

    @include mq("md") {
        margin-top: rem(40);
    }
}