@use "global" as *;

.campaign-card{
    display: flex;
    flex-direction: column-reverse;
}

.campaign-card__content{
    padding: rem(16) rem(16) rem(24);

    @include mq("md") {
        padding: rem(24) rem(16) rem(40);
    }
}

.campaign-card__content-tag{
    display: inline-block;
    border: rem(1) solid $green;
    color: $green;
    font-size: rem(12);
    line-height: rem(30);
    height: rem(30);
    padding: 0 rem(12);

    @include mq("md") {
        line-height: rem(34);
        height: rem(34);
        padding: 0 rem(16);
        }
}

.campaign-card__content-title{
    color: $font-color;
    font-size: rem(16);
    font-weight: $medium;
    padding-top: rem(4);
}

.campaign-card__content-desc{
    display: block;
    border-top: rem(1) solid $green;
    color: $font-color;
    font-size: rem(14);
    text-align: center;
    margin-top: rem(8);
    padding-top: rem(8);

    @include mq("md") {
        padding-top: rem(16);
    }
}

.campaign-card__content-price{
    margin-top: rem(8 );
}