@use "global" as *;

.campaign-card{
    display: flex;
    flex-direction: column-reverse;
    box-shadow: rem(2) rem(2) rem(10) 0px rgba(0, 0, 0, 0.25);
}

.campaign-card__content{
    padding: rem(16) rem(16) rem(24);
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @include mq("md") {
        padding: rem(24) rem(16) rem(40);
    }
}

.campaign-card__content-title{
    font-size: rem(16);
    font-weight: $medium;
    padding-top: rem(4);
    padding-bottom: rem(8);
    border-bottom: rem(1) solid $green;
}

.campaign-card__content-body{
    margin-top: auto;
}

.campaign-card__content-desc{
    display: block;
    font-size: rem(14);
    line-height: 1.715;
    text-align: center;
    margin-top: rem(8);

    @include mq("md") {
        margin-top: rem(16);
    }
}

.campaign-card__content-price{
    margin-top: rem(8);
}

.campaign-card__img{

    img{
        aspect-ratio: 280/188;
        object-fit: cover;

        @include mq("md") {
            aspect-ratio: 300/200;
        }
    }
}

.campaign-card__description{
    margin-top: rem(24);
}

.campaign-card__info{
    text-align: center;
    margin-top: rem(32);
}

.campaign-card__info-period{
    display: block;
    color: $green;
    font-family: $num-font-family;
    font-weight: $bold;
    line-height: 1.125;
}

.campaign-card__info-guid{
    display: block;
    color: $green;
    line-height: 1.285;
    margin-top: rem(7);
}

.campaign-card__info-link{
    margin-top: rem(16);
}